.updatePassword{
    min-height: 100vh;
    background-image: linear-gradient(to right,rgb(247, 213, 213),rgb(186, 196, 106));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.updatePasswordForm{
    background-color: white;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updatePasswordInputs{
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 60%;
    border-radius: 40px;
    border: 1px solid rgba(124, 120, 120, 0.882);
    margin: 1vmax;
    font: 100 1.2rem "Roboto",sans-serif;
    outline: none;
}


.updatePasswordForm a{
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.344);
    margin: 1vmax;
}

@media screen and(max-width:600px) {
    .updatePasswordForm{
        width: 100%;
    }
    .updatePasswordForm input{
        padding: 4vw 8vw;
        margin: 2vmax;
        font: 100 1.2rem "Roboto",sans-serif;
        margin: 4vw;
    }
    
}